<p id="notice"><%= notice %></p>

<div class="row">

		<% @pictures.each do |picture| %>

			<div class="col-md-3">
				<a href="/pictures/<%= picture.id %>">
					<%= image_tag picture.pic_img.url(:pic_index), class: "book" %>
				</a>
			</div>

		<% end %>

	</div>
