/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*= require_shadowbox

*= require_tree .
*= require_self
*/
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f3f3f2;
}

body, p, ol, ul, td {
  font-family: "Raleway", verdana, arial, helvetica, sans-serif;
}

h1 {
  color: #fff;
  font-size: 1.7em;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  font-weight: 700;
}

a:hover{
  background-color: transparent;
  color: black;
}

.container {
  width: 90%;
}

.navbar {
  padding: 1em;
}

.navbar-default .navbar-brand {
  color: #40afb0;
  font-size: 3em;
  line-height: 5px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #6dc1c3;
}

.navbar-default {
  background-color: white;
  text-align: center;
  font-family: 'Monoton', cursive;
}

.btn, .btn:hover {
  box-shadow: none;
  font-weight: 700;
}

.btn.primary, .btn.primary:active, .btn.primary:visited {
  background-color: #f78528; //#f9a826
}

.btn.primary:hover {
  background-color: #f9a826;
}

.btn.secondary, .btn.secondary:active, .btn.secondary:visited {
  background-color: #e7486b; //#e84f84
}

.btn.secondary:hover {
  background-color: #f17792;
}

.navbar .btn {
  color: white;
}


// SEARCH
.search {
  background-color: #803c81;
  padding: 50px 0;
  margin-bottom: 20px;
  text-align: center;
}

.search span {
  font-size: 1.4em;
  text-decoration: underline;
}

.search p {
  color: white;
  font-size: 1.4em;
}

.citySearch {
  display: flex;
  width: 50%;
  margin: 50px auto 0;
}

input[type=text].valid:not(.browser-default) {
  border-bottom: 2px solid #41a69a;
  color: #686868;
}

input:not([type]), input[type=text]:not(.browser-default) {
  background-color: #fff;
  height: 1.9em;
  padding: 0 20px;
  font-size: 2em;
  border-bottom: 3px solid #41a69a;
  color: #686868;
}

.citySearch .btn {
  height: 2.7em;
  font-size: 1.5em;
  padding: 0.5em 0.7em;
    border-radius: 0;
  display: inline-flex;
  vertical-align: middle;
  border: 2px solid #248a80;
    border-width: 0 2px;
}

.citySearch .btn:hover, .citySearch a:visited {
  color: #fff;
}

.dropdown-content li>a, .dropdown-content li>span, .citySearch li>a:visited {
  text-decoration: none;
  color: #686868;
}

.dropdown-content li>a:hover {
  background-color: #26a69a;
  color: #fff;
}

.btn i {
  font-size: 37px;
}

//Flicr City Pics

.city-pics img {
  object-fit: cover;
  width: 350px;
  height: 350px;
  padding: 1em;
  margin: 1em 0;
  background-color: #fff;
  border: 3px solid #6dc1c3;
}

body > h3 {
  color: white;
  text-align: center;
  text-shadow: rgba(0,0,0,.8) 1px 1px 10px;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
}

// TOP ATTRACTIONS

.todo {
  background-color: #f78528;
  background-size: cover;
  margin-top: 3em;
  color: white;
  border: 10px solid white;
  border-width: 10px 0;
}

.attractions {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.attractions p {
  font-size: 1.4em;
  font-weight: 700;
  /* margin-bottom: 10px; */
}

.attractions img {
  width: 300px;
  padding:8px;
  margin: 8px 0 20px;
  background-color: #fff;
  border: 2px solid #d06005;
}

// FOOTER

footer {
  background-color: #e7486b;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: white;
  font-size: 1.2em;
  padding: 10px 0;
}


#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(close.png);}
#sb-nav-next{background-image:url(next.png);}
#sb-nav-previous{background-image:url(previous.png);}
#sb-nav-play{background-image:url(play.png);}
#sb-nav-pause{background-image:url(pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
