/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f3f3f2;
  font-family: Raleway, sans-serif;
}

h2 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 3em;
}

.container {
  width: 90%;
}

.navbar {
  padding: 1em;
}

.navbar-default .navbar-brand {
  color: #40afb0;
  font-size: 3em;
  line-height: 5px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #6dc1c3;
}

.navbar-default {
  background-color: white;
  text-align: center;
  font-family: 'Monoton', cursive;
}

.btn, .btn:hover {
  box-shadow: none;
}

.btn.primary, .btn.primary:active, .btn.primary:visited {
  background-color: #f78528; //#f9a826
}

.btn.primary:hover {
  background-color: #f9a826;
}

.btn.secondary, .btn.secondary:active, .btn.secondary:visited {
  background-color: #e7486b; //#e84f84
}

.btn.secondary:hover {
  background-color: #f17792;
}

.navbar .btn {
  color: white;
}


// .btn .primary, .btn .primary:hover, .btn:active, .btn:visited {
//     background-color: #8064A2;
// }

.city-pics img {
  object-fit: cover;
  width: 350px;
  height: 350px;
  padding: 1em;
  margin: 1em 0;
  background-color: #fff;
  border: 3px solid #6dc1c3;
}

body > h3 {
  color: white;
  text-align: center;
  text-shadow: rgba(0,0,0,.8) 1px 1px 10px;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
}

.todo {
  background-color: #f78528;
  margin-top: 3em;
  color: white;
  border: 10px solid white;
  border-width: 10px 0;
}

.attractions {
  display: flex;
  justify-content: space-around;
}

.attractions img {
  width: 300px;
  padding:8px;
}
