/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
height: 100%;
}
body {
background: linear-gradient(to bottom right, #77C9D4, purple, #57BC90)

}

// body > nav > div > div > a {
//   font-size: 30px!important;
// }

a.navbar-brand {
  font-size: 30px;
}

.container {
background-color: white;
height: 100px;
width: 100vw;
text-align: center;
color: black;
font-family: 'Monoton', cursive;
}
