// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.login {
  width: 50%;
  margin: 0 auto;
  height: 100%;
  font-size: 15px;
  padding-top: 150px;
  margin-top: -100px;
}
.container.upload {
  height: 100%;
  padding-top: 150px;
  margin-top: -100px;
}
.control-label {
  font-size: 15px;
}
.container.show {
    height: 100%;
    padding-top: 150px;
    margin-top: -100px;
}

// Comments on pic info (show.html)
.book-info h1 {
    color: #000;
}
.book-info p {
    font-size: 1.4em;
}
.book-info span {
    font-weight: 600;
}
.show .btn {
    margin-right: 20px;
}
a.btn, a.btn:hover {
  color: white
}
